body {
  font-size: 15px;
  background: #fef6eb;
  font: 300 17px/22px "Lato", "Open Sans", "Verdana";
  color: #525564;
  margin: 0;
  padding: 0;
  line-height: 1.2em;
}

header {
  height: 50px;
  background-color: #c25b56;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
}
header div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 50px;
  background-color: #c25b56;
}

p.navigate {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 50px;
  background-color: #c25b56;
  color: #525564; 
  margin: 0px;
  font-size: 20px;
  line-height: 50px;
  padding-right: 12px;
}
p.navigate:hover {
  color: #beb9b5;/*#96c0ce;*/
}

p.img {
  position: absolute; 
  top: 0px;
  left: 0px;
  background-color: #beb9b5; /* #96c0ce; */
  height: 50px;
  width: 80px;
  margin: 0px;
  overflow: hidden;
  line-height: 50px;
}
p.img img {
  height: 40px;
  width: auto;
  margin-top: 4px;
  padding-left: 17px
}

p.txt {
  position: absolute; 
  top: 0px;
  left: 80px;
  background-color: #c25b56;
  height: 50px;
  width: 100vw;
  color: #beb9b5; /*#96c0ce;*/
  font-size: 24px;
  padding-left: 12px;
  margin: 0px; 
  line-height: 50px;
}

.page {
  margin-top: 60px;
  text-align: center;
  min-height: 500px;
}
.intro {
  text-align: left;
  margin: 0 auto;
  margin-top: 60px;
  width: 80%;
}

.hr {
  max-width: 50%;
  margin: 0 auto;
}

.hide {
  display: none;
}
.show {
  display:block;
}

.color-pale {
  color: #beb9b5;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}


footer {
  bottom: 0;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}