<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <title> KOA Boiler Plate </title>
  <link rel="stylesheet" href="css/main.css" >
  
</head>
<body>
  <header>
    <div>
      <p class="img">
        <img alt="cow" src="assets/favicon.png" type="image/png">
      </p>
      <p class="txt"> KOA Boiler Plate </p>
      <a href="/login">
        <p class="navigate"> Logout </p>
      </a>
    </div>
  </header>

  
  <div class="page">
   
    <p> Secure content here </p>
      
  </div>

  
  <footer>
    <hr>
    <div>
      <p>
        Hitesh Lala - &copy; <%= data.year %> <a href="http://hiteshlala.info" >Hitesh Lala</a>
      </p>
    </div>
  </footer>

  <script language="javascript" src="scripts/content.js"></script>
  <script language="javascript">
    init_content( <%- JSON.stringify( data ) %> );
  </script>
</body>
</html>