<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <title> KOA Boiler Plate </title>
  <link rel="stylesheet" href="css/main.css" >
  <link rel="stylesheet" href="css/home.css" >
</head>
<body>
  <header>
    <div>
      <p class="img">
        <img alt="cow" src="assets/favicon.png" type="image/png">
      </p>
      <p class="txt"> KOA Boiler Plate </p>
    </div>
  </header>

  
  <div class="page">
    <div class="login-box">
      <form action="/login" method="post">
      <p> <input class="input" type="text" placeholder="Enter username" id="name" name="name"> </p>
      <p> <input class="input" type="text" placeholder="Enter password" id="pswd" name="password"></p>
      <p class="right"> <button class="button" type="submit" value="Login">Login</button></p>
      <input type='text' id='dest' name='test' style="display:none" value="">
      </form>
    </div>
  </div>

  <div class="error-msg hide" id="error-msg"></div>

  <footer>
    <hr>
    <div>
      <p>
        Hitesh Lala - &copy; <%= data.year %> <a href="http://hiteshlala.info" >Hitesh Lala</a>
      </p>
    </div>
  </footer>

  <script language="javascript" src="scripts/home.js"></script>
  <script language="javascript">
    init_home( <%- JSON.stringify( data ) %> );
  </script>
</body>
</html>